<header>
   <section id="menu">
      <a class="histolink" href="@{Application.home()}">home</a>
      <a class="histolink" href="@{Application.add()}">share</a>
   </section>
   <section class="connected" id="welcome">
      You are connected with <span id="username-welcome"></span>. <a class="logout"
                                                                     href='@{Security.logout()}'>logout</a>
   </section>
   <section id="login" class="not-connected">
      <!-- Simple OpenID Selector -->
      #{form @Secure.authenticate(), method:'get',id:'openid_form'}
      <input type="hidden" name="action" value="verify"/>

      <fieldset>

         <a class="google" href="javascript:openid.signin('google');"
            title="Connect with Google">Google</a>
         <a class="yahoo" href="javascript:openid.signin('yahoo');"
            title="Connect with Yahoo">Yahoo</a>
         <a class="twitter" href="javascript:openid.signin('twitter');"
            title="Connect with Twitter">Twitter</a>
         <fb:login-button perms="email" size="medium" onlogin="facebookLogin();">Facebook</fb:login-button>

         #{if flash.error}
         <div class="errorbox">
            <h2>Erreur</h2>
            ${flash.error}
         </div>
         #{/if}
      </fieldset>
      #{/form}
   </section>
</header>
<section class="clear"></section>


	
	
	