<h2>Share and get stuff you like !</h2>


<p>Welcome to RecommendizR.</p>
<p>With RecommendizR, you can share any stuff you liked (Website, Restaurant, People, Music etc.)</p>
<p>With our powerfull engine based on machine learning science, we compute personnal recommendations based on what you
   have liked.</p>
<p class="not-connected" style="display:none;">
   You must be connected to share some stuff and get personnal recommendation.
</p>
<p class="connected" style="display:none;">
   Don't wait ! <a class="histolink" href="@{Application.add()}">share some stuff</a> or like existing ones !
</p>
