#{extends 'site.html' /}
#{set title:'RecommendizR - Share and get stuff you like' /}

<section id="lists">
   <section id="search">
      <form id="search-form" method="post" action="#">
         <fieldset>
            <legend>I'm looking for :</legend>
            <div>
               <label for="search-input">Stuff : </label><input type="text" id="search-input" name="search-input"
                                                                value="${flash.search}" required/>
               <button id="search-button" type="submit" name="submit">Search</button>
            </div>
         </fieldset>
      </form>

   </section>

   <section><h4>Search results :</h4>
      <section class="list" id="search-results"></section>
   </section>

   <section>
      <h4>Stuff you should like :</h4>

      <section class="connected list" id="user-recommendations"></section>
      <section class="not-connected list">
         <p>To get personnal recommendations, based on what you like, please signin</p>
      </section>
   </section>

   <section>
      <h4>People who like that, also like :</h4>
      <section id="related" class="list"></section>
   </section>

   <section>
      <h4>Stuff you like recently :</h4>

      <section class="connected list" id="recentlikedbyuser"></section>
   </section>

   <section><h4>Popular stuff :</h4>
      <section id="populars" class="list"></section>
   </section>

   <section><h4>Recent stuff :</h4>
      <section id="recents" class="list"></section>
   </section>
</section>

<section id="page_content" class="content">
   <!-- home is automatically load in main.js via load function -->
</section>

<script type="text/javascript">
   require(["jquery", "widgets/likedlist", "widgets/likedaddbox", "widgets/login"], function($, LikedList, LikedAddBox, Login) {

      $(document).ready(function() {
         $('#search-button').click(function(e) {
            e.preventDefault();
            var searchText = $('#search-input').val();
            LikedList.Instance('search-results', '@{Application.search()}', {limit:10,text: searchText}, '@{Reco.isLiked()}', '@{Reco.switchLike()}', '@{Reco.switchIgnore()}');
         });
         var recentsLiked = new LikedList.Instance('recents', '@{Application.lastAdded()}', {limit:10}, '@{Reco.isLiked()}', '@{Reco.switchLike()}', '@{Reco.switchIgnore()}');
         var popularsLiked = new LikedList.Instance('populars', '@{Application.mostLiked()}', {limit:10}, '@{Reco.isLiked()}', '@{Reco.switchLike()}', '@{Reco.switchIgnore()}');
         var relatedLiked = new LikedList.Instance('related', '@{Application.recommendFromLiked()}', {limit:10}, '@{Reco.isLiked()}', '@{Reco.switchLike()}', '@{Reco.switchIgnore()}');

         var onConnectedUser = function(username) {
            Login.withConnectedUserDefault(username);
            var userRecommendations = LikedList.Instance('user-recommendations', '@{Reco.recommendUser()}', {limit:10}, '@{Reco.isLiked()}', '@{Reco.switchLike()}', '@{Reco.switchIgnore()}');
            var recentLikedByUser = new LikedList.Instance('recentlikedbyuser', '@{Application.recentUserLiked(0,9)}', {limit:10}, '@{Reco.isLiked()}', '@{Reco.switchLike()}', '@{Reco.switchIgnore()}');
            var likedAddBox = new LikedAddBox.Instance('add-liked', '@{Reco.addLiked()}');
            likedAddBox.onLikedAdded.add(recentsLiked.refresh);
            likedAddBox.onLikedAdded.add(popularsLiked.refresh);
            likedAddBox.onLikedAdded.add(recentLikedByUser.refresh);
         }

         onLoadPage.add(relatedLiked.refresh);

         Login.init('@{Security.userName()}', onConnectedUser);

         FB.init({appId: '161437957254554', status: true, cookie: true, xfbml: true});

      });
   });
</script>