<section id="liked-section" style="display:none;">
   <h2 id="liked-name">${liked.name}</h2>

   <p id="liked-description">${liked.description}</p>

   <p>${liked.like} people like it and ${liked.ignore} ignore it<span
           class="not-connected">, and you ? signin to vote !</span> <a class='connected' id='like-button' href='#'></a>
      <a class='connected' id='ignore-button' href='#'></a></p>

   <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="jblemee">Tweet</a>

</section>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'recommendizr'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    var disqus_identifier = 'liked${liked.id}';
    var disqus_url = '@@{Application.Liked(liked.id)}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>


<script type="text/javascript">
   require(["jquery", "widgets/login", "widgets/twostatesbutton"], function($, Login, TwoStatesButton) {
      $(document).ready(function() {
         $('#liked-description').html($('#liked-description').text());
         $('#liked-section').show();
         $('title').text('RecommendizR - ' + $('#liked-name').text())

         #{if liked.liked != null}
            var liked = ${liked.liked};
         #{/if}
         #{else}
            var liked = 'undefined';
         #{/else}
         #{if liked.ignored != null}
            var ignored = ${liked.ignored};
         #{/if}
         #{else}
            var ignored = 'undefined';
         #{/else}


         TwoStatesButton.Instance('like-button', 'unlike', 'like', '@{Reco.switchLike()}', {likedId:${liked.id}}, 'liked', liked, 'likebutton' + '${liked.id}');
         TwoStatesButton.Instance('ignore-button', 'unignore', 'ignore', '@{Reco.switchIgnore()}', {likedId:${liked.id}}, 'ignored', ignored, 'ignorebutton' + '${liked.id}');
      })

      onLoadPage.execute({limit:10, likedId:${liked.id}});
   })
</script>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>